In [3]:
import csv
import numpy as np

In [4]:
pwd

'C:\\Access_ev\\Image_Processing_Material\\simpleICP\\python'

In [21]:
path_to_pc1 = '../data/RR_Blade_CAD/new.txt'
path_to_pc2= '../data/RR_Blade_CAD/RR_Scan_Vers_1.txt'

In [24]:
X = []
with open(path_to_pc1) as f:
    reader = csv.reader(f, delimiter=' ')
    for row in reader:
        X.append(list(map(float, row)))

In [48]:

path_to_pc3='../data/RR_Blade_CAD/pandas.txt'
T = []
with open(path_to_pc3) as f:
    reader = csv.reader(f, delimiter=' ')
    for row in reader:
        T.append(list(map(float, row)))

In [1]:
numbers = []

#Open the file
with open('../data/RR_Blade_CAD/RR_Scan_Vers_1.txt') as fp:
    #Iterate through each line
    for line in fp:

        numbers.extend( #Append the list of numbers to the result array
            [int(item) #Convert each number to an integer
             for item in line.split() #Split each line of whitespace
             ])

print(numbers)

ValueError: invalid literal for int() with base 10: '-12.555070'

In [25]:
import pandas as pd

In [31]:
a_dataframe = pd.read_csv("../data/RR_Blade_CAD/RR_Scan_Vers_2 partial2.txt",header=None,sep=" ")

In [38]:
df=a_dataframe

In [42]:
df_corrected=df.drop(df.columns[3], axis=1)

In [43]:
df_corrected

              0         1          2
0     -5.326430  3.433656  21.038340
1     -4.834270  3.505393  21.099781
2     -5.032213  3.441587  20.728683
3     -5.471784  3.697094  17.951849
4     -4.822983  3.649548  21.638624
...         ...       ...        ...
3930  17.118505  8.027844  19.235895
3931  17.022545  8.040019  19.188288
3932  16.886343  8.169938  19.110136
3933  16.755871  8.324672  19.031458
3934  16.679781  8.194657  19.014841

[3935 rows x 3 columns]

In [47]:
df_corrected.to_csv(r'pandas.txt', header=None, index=None, sep=' ')